<h2>books</h2>
<div class="container">
<table class= "table table-striped">
	<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>
<% @book.each do |book| %>
    <tr>
    	<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
    	<td><%= book.title %></td>
    	<td><%= book.opinion %></td>
    </tr>
<% end %>
</table>
</div>